<%- include('../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-3 text-gray-800">Edit Role</h1>

                <form action="/admin/role/update" method="post">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Edit Role</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="role">Role Name</label>
                                <input type="text" class="form-control" id="role" name="role" required="" maxlength="50" value="" placeholder="Enter a role name">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" maxlength="500" placeholder="Enter role description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-body d-flex justify-content-between">
                            <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                            <button type="submit" class="btn btn-primary" data-toggle="one-touch">Update Role</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include('../../partials/js.ejs') %>