<%- include('../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h4 mb-3 text-gray-800">View Category</h1>

                <%- include('../../partials/alert.ejs') %>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-2 mb-md-0 row">
                                    <p class="col-sm-3 col-form-label pb-0 font-weight-bold">Category</p>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext">
                                            <%= category.category %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-3 col-form-label pb-0 font-weight-bold" for="description">Description</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext">
                                            <%= category.description || 'No description' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2 mb-md-0 row">
                                    <p class="col-sm-3 col-form-label pb-0 font-weight-bold">Created At</p>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext">
                                            <%= moment(category.createdAt).format('DD MMMM Y HH:mm') %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-3 col-form-label pb-0 font-weight-bold" for="description">Updated At</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext" id="description">
                                            <%= category.updatedAt ? moment(category.updatedAt).format('DD MMMM Y HH:mm') : '-' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body d-flex justify-content-between">
                        <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include('../../partials/js.ejs') %>