<%- include('../partials/head.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="mb-3">
                    <%- include('../partials/breadcrumb.ejs', {breadcrumb: [
                        {title: 'Role', url: '/role'},
                        {title: 'View', url: '/role/view/' + role.id},
                    ]}) %>
                </div>

                <%- include('../partials/alert.ejs') %>

                <div class="card shadow border-0 mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-2 mb-md-0 row">
                                    <p class="col-sm-3 col-form-label pb-0 font-weight-bold">Role</p>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext">
                                            <%= role.role %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-3 col-form-label pb-0 font-weight-bold" for="description">Description</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext">
                                            <%= role.description || 'No description' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2 mb-md-0 row">
                                    <p class="col-sm-3 col-form-label pb-0 font-weight-bold">Created At</p>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext">
                                            <%= moment(role.createdAt).format('DD MMMM Y HH:mm') %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-3 col-form-label pb-0 font-weight-bold" for="description">Updated At</label>
                                    <div class="col-sm-9">
                                        <p class="form-control-plaintext" id="description">
                                            <%= role.updatedAt ? moment(role.updatedAt).format('DD MMMM Y HH:mm') : '-' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Permissions</h5>
                        <div class="form-group">
                            <div class="row">
                                <% lastGroup = ''; lastSubGroup = ''; %>
                                <% role.permissionId.forEach((permission, i) => { %>
                                    <% if(lastGroup != permission.module){ %>
                                        <div class="col-12 mt-4 border-top border-bottom font-weight-bold">
                                            <h5 class="m-0 py-2">Module <%= permission.module %></h5>
                                        </div>
                                        <% lastGroup = permission.module %>
                                    <% } %>

                                    <% if(lastSubGroup != permission.submodule){ %>
                                        <div class="col-12 mt-2 font-weight-bold text-gray-500">
                                            Module <%= permission.submodule %>
                                        </div>
                                        <% lastSubGroup = permission.submodule %>
                                    <% } %>

                                    <div class="col-sm-6">
                                        <i class="fas fa-check-square mr-1"></i>
                                        <%= permission.permission.replace(/[-_]/, ' ') %> : <span class="text-muted"><%= permission.description %></span>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 mb-4">
                    <div class="card-body d-flex justify-content-between">
                        <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include('../partials/js.ejs') %>
