<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-hiking"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Staycation</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item<%= _path == '/admin/dashboard' ? ' active' : '' %>">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-home"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Master
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item<%= _path.startsWith('/admin/role') || _path.startsWith('/admin/user') ? ' active' : '' %>">
        <a class="nav-link<%= _path.startsWith('/admin/role') || _path.startsWith('/admin/user') ? '' : ' collapsed' %>" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
            <i class="fas fa-fw fa-lock"></i>
            <span>User Access</span>
        </a>
        <div id="collapseUsers" class="collapse<%= _path.startsWith('/admin/role') || _path.startsWith('/admin/user') ? ' show' : '' %>" aria-labelledby="headingUser" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Account</h6>
                <a class="collapse-item<%= _path.startsWith('/admin/role') ? ' active' : '' %>" href="/admin/role">Role</a>
                <a class="collapse-item<%= _path.startsWith('/admin/user') ? ' active' : '' %>" href="/admin/user">User</a>
            </div>
        </div>
    </li>
    <li class="nav-item<%= _path.startsWith('/admin/category') ? ' active' : '' %>">
        <a class="nav-link" href="/admin/category">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Category</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item<%= _path.startsWith('/admin/bank') ? ' active' : '' %>">
        <a class="nav-link" href="/admin/bank">
            <i class="fas fa-fw fa-money-check"></i>
            <span>Bank Account</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item<%= _path.startsWith('/admin/item') ? ' active' : '' %>">
        <a class="nav-link" href="/admin/item">
            <i class="fas fa-fw fa-hotel"></i>
            <span>Homestay</span>
        </a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Order
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item<%= _path.startsWith('/admin/booking') ? ' active' : '' %>">
        <a class="nav-link" href="/admin/booking">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Booking</span>
        </a>
    </li>

    <div class="sidebar-heading">
        Preferences
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item<%= _path.startsWith('/admin/settings') || _path.startsWith('/admin/account') || _path.startsWith('/admin/activity-log') ? ' active' : '' %>">
        <a class="nav-link<%= _path.startsWith('/admin/settings') || _path.startsWith('/admin/account') || _path.startsWith('/admin/activity-log') ? '' : ' collapsed' %>" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse<%= _path.startsWith('/admin/settings') || _path.startsWith('/admin/account') || _path.startsWith('/admin/activity-log') ? ' show' : '' %>" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities</h6>
                <a class="collapse-item<%= _path.startsWith('/admin/settings') ? ' active' : '' %>" href="/admin/settings">Settings</a>
                <a class="collapse-item<%= _path.startsWith('/admin/account') ? ' active' : '' %>" href="/admin/account">My Account</a>
                <a class="collapse-item<%= _path.startsWith('/admin/activity-log') ? ' active' : '' %>" href="/admin/activity-log">Activity Log</a>
            </div>
        </div>
    </li>
    <li class="nav-item<%= _path == '/admin/logout' ? ' active' : '' %>">
        <a class="nav-link" href="/admin/logout">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider mt-3 d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->