<%- include('../../partials/head.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="h4 mb-md-0 text-gray-800">User</h1>
                    <a href="/admin/user/create" class="btn btn-sm btn-primary shadow-sm">
                        Create User
                    </a>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">User Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="width: 35px">No</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-md-right" style="max-width: 80px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Administrator</td>
                                    <td>admin</td>
                                    <td>Staycation</td>
                                    <td><span class="badge badge-success">ACTIVE</span></td>
                                    <td class="text-md-right">
                                        <div class="dropdown">
                                            <button class="btn btn-primary btn-sm dropdown-toggle btn-action" type="button" data-toggle="dropdown">
                                                Action
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/master/role/view">
                                                    View
                                                </a>
                                                <a class="dropdown-item" href="http://master/role/edit">
                                                    Edit
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <button class="dropdown-item btn-delete" data-toggle="modal" data-title="Role" data-url="/master/role/delete">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-md-right" style="max-width: 80px">Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include('../../partials/js.ejs') %>