<%- include('../partials/head.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="mb-3">
                    <%- include('../partials/breadcrumb.ejs', {breadcrumb: [
                        {title: 'Bank', url: '/bank'},
                        {title: 'View', url: '/bank/view/' + bank.id},
                    ]}) %>
                </div>

                <%- include('../partials/alert.ejs') %>

                <div class="card shadow border-0 mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-2 mb-md-0 row">
                                    <p class="col-sm-4 col-form-label pb-0 font-weight-bold">Bank</p>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext">
                                            <%= bank.bank %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-4 col-form-label pb-0 font-weight-bold">Account Holder</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext">
                                            <%= bank.accountHolder || 'No name' %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-4 col-form-label pb-0 font-weight-bold">Account Number</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext">
                                            <%= bank.accountNumber || 'No number' %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-4 col-form-label pb-0 font-weight-bold">Logo</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext">
                                            <img class="img-fluid" style="max-width: 200px" src="<%= bank.logo %>" alt="<%= bank.bank %>">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-4 col-form-label pb-0 font-weight-bold">Description</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext">
                                            <%= bank.description || 'No description' %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <p class="col-sm-4 col-form-label pb-0 font-weight-bold">Created At</p>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext">
                                            <%= moment(bank.createdAt).format('DD MMMM Y HH:mm') %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group mb-2 mb-md-0 row">
                                    <label class="col-sm-4 col-form-label pb-0 font-weight-bold" for="description">Updated At</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-plaintext" id="description">
                                            <%= bank.updatedAt ? moment(bank.updatedAt).format('DD MMMM Y HH:mm') : '-' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 mb-4">
                    <div class="card-body d-flex justify-content-between">
                        <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include('../partials/js.ejs') %>
