<%- include('../partials/head.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="mb-3">
                    <%- include('../partials/breadcrumb.ejs', {breadcrumb: [
                        {title: 'User', url: '/user'},
                        {title: 'Edit', url: '/user/edit/' + user.id},
                    ]}) %>
                </div>

                <%- include('../partials/alert.ejs') %>

                <form action="/user/update/<%= user._id %>?_csrf=<%= _csrfToken %>" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="put">
                    <input type="hidden" name="_csrf" value="<%= _csrfToken %>">

                    <fieldset>
                        <div class="card shadow border-0 mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">New User Data</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Full Name</label>
                                            <input type="text" class="form-control" id="name" name="name" required="" maxlength="50"
                                                   value="<%= _old.name || user.name %>" placeholder="Enter your full name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username" maxlength="20"
                                                   value="<%= _old.username || user.username %>" placeholder="User unique ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required="" maxlength="50"
                                           value="<%= _old.email || user.email %>" placeholder="Enter email address">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="custom-select" name="status" id="status" required="">
                                                <option value="">Select Status</option>
                                                <option value="PENDING"<%= (_old.status || user.status) == 'PENDING' ? ' selected' : '' %>>
                                                    PENDING
                                                </option>
                                                <option value="ACTIVATED"<%= (_old.status || user.status) == 'ACTIVATED' ? ' selected' : '' %>>
                                                    ACTIVATED
                                                </option>
                                                <option value="SUSPENDED"<%= (_old.status || user.status) == 'SUSPENDED' ? ' selected' : '' %>>
                                                    SUSPENDED
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Avatar</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/*">
                                                <label class="custom-file-label" for="image"><%= user.avatar || 'Pick Image' %></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-0 mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">New Password</label>
                                            <input type="password" class="form-control" id="password" name="password" minlength="6" maxlength="50" placeholder="New password">
                                            <span class="form-text">Leave it blank if you don't change the password.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="confirm_password">Confirm Password</label>
                                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" maxlength="50" placeholder="Confirm new password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Role</h5>
                                <p class="text-muted">User at least must has one role</p>
                                <div class="form-group">
                                    <div class="row">
                                        <% roles.forEach((role, i) => { %>
                                            <div class="col-sm-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="role_<%= i %>" name="roles[<%= i %>]" value="<%= role._id %>"
                                                            <%= _old.roles && _old.roles.includes(role._id.toString()) || user.roleId.includes(role._id.toString()) ? 'checked' : '' %>>
                                                    <label class="custom-control-label" for="role_<%= i %>">
                                                        <%= role.role %>
                                                    </label>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-0 mb-4">
                            <div class="card-body d-flex justify-content-between">
                                <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                                <button type="submit" class="btn btn-primary" data-toggle="one-touch">Update User</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include('../partials/js.ejs') %>
