<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="user-id" content="">
    <meta name="csrf-token" content="<%= typeof _csrfToken != "undefined" ? _csrfToken : '' %>">

    <title>Staycation | <%= typeof title != "undefined" ? title : 'Booking Hotels & Apartment' %></title>

    <!-- Custom fonts for this template-->
    <link href="/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/<%= _assetsPath['vendors.css'] %>" rel="stylesheet">
    <link href="/<%= _assetsPath['app.css'] %>" rel="stylesheet">
    <link rel="icon" href="/dist/img/favicon.png" type="image/x-icon">

</head>
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-5 col-lg-6 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center mb-4">
                            <h1 class="h3 mb-0 text-primary font-weight-bold text-uppercase">
                                <i class="fas fa-user-lock mr-2"></i><%= process.env.APP_NAME %>
                            </h1>
                            <small class="text-muted">God please, I forgot my password</small>
                        </div>

                        <%- include('../partials/alert.ejs') %>

                        <p class="mb-3">
                            We'll send you an email with your username and a link to reset your password.
                        </p>

                        <form action="/auth/forgot-password" method="post" class="user">
                            <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
                            <fieldset>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email" name="email"
                                           required maxlength="50" value="<%= _old.email || '' %>" placeholder="Registered email">
                                </div>
                                <button type="submit" class="btn btn-danger btn-user btn-block">
                                    Reset Password
                                </button>
                                <div class="text-center mt-3">
                                    <a class="font-weight-bold" href="/auth/login">Remember My Password</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/theme/vendor/jquery/jquery.min.js"></script>
<script src="/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/theme/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/theme/js/sb-admin-2.min.js"></script>

<%- include('../partials/js.ejs') %>
