<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="user-id" content="">
    <meta name="csrf-token" content="<%= typeof _csrfToken != "undefined" ? _csrfToken : '' %>">

    <title>Staycation | <%= typeof title != "undefined" ? title : 'Booking Hotels & Apartment' %></title>

    <!-- Custom fonts for this template-->
    <link href="/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/<%= _assetsPath['vendors.css'] %>" rel="stylesheet">
    <link href="/<%= _assetsPath['app.css'] %>" rel="stylesheet">
    <link rel="icon" href="/dist/img/favicon.png" type="image/x-icon">

</head>
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-5 col-lg-6 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center mb-4">
                            <h1 class="h3 mb-0 text-primary font-weight-bold text-uppercase">
                                <i class="fas fa-hiking mr-2"></i><%= process.env.APP_NAME %>
                            </h1>
                            <small class="text-muted">Welcome back, login to access control panel</small>
                        </div>

                        <%- include('../partials/alert.ejs') %>

                        <form action="/auth/login" method="post" class="user">
                            <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
                            <fieldset>
                                <div class="form-group mb-2">
                                    <input type="text" class="form-control form-control-user" id="username" name="username"
                                           required maxlength="50" placeholder="Username or email" value="<%= _old.username || '' %>">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="password" name="password"
                                           required maxlength="50" placeholder="Password">
                                </div>
                                <div class="mb-3 d-flex justify-content-between">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="remember"<%= _old.remember ? ' checked' : '' %>>
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                    <a class="small" href="/auth/forgot-password">Forgot Password?</a>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Login
                                </button>
                                <% if(_settings.publicRegistration) { %>
                                    <div class="text-center mt-3">
                                        <a class="font-weight-bold" href="/auth/register">Create an Account</a>
                                    </div>
                                    <hr>
                                    <a href="<%= googleLoginUrl %>" class="btn btn-google border-0 btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="<%= facebookLoginUrl %>" class="btn btn-facebook border-0 btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                <% } %>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/theme/vendor/jquery/jquery.min.js"></script>
<script src="/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/theme/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/theme/js/sb-admin-2.min.js"></script>

<%- include('../partials/js.ejs') %>
