<%- include('../partials/head.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="mb-3">
                    <%- include('../partials/breadcrumb.ejs', {breadcrumb: [
                        {title: 'Facility', url: '/facility'},
                        {title: 'Create', url: '/facility/create'},
                    ]}) %>
                </div>

                <%- include('../partials/alert.ejs') %>

                <form action="/facility/save?_csrf=<%= _csrfToken %>" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
                    <fieldset>
                        <div class="card shadow border-0 mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">New Facility Data</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="facility">Facility Name</label>
                                    <input type="text" class="form-control" id="facility" name="facility" required maxlength="50"
                                           placeholder="Enter facility name" value="<%= _old.bank || '' %>">
                                    <%- validationError('facility') %>
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="image" name="image">
                                        <label class="custom-file-label" for="image">Pick Image</label>
                                    </div>
                                    <%- validationError('image') %>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" name="description" maxlength="200"
                                              placeholder="Enter image description"><%= _old.description || '' %></textarea>
                                    <%- validationError('description') %>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow border-0 mb-4">
                            <div class="card-body d-flex justify-content-between">
                                <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                                <button type="submit" class="btn btn-success" data-toggle="one-touch">Save Facility</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include('../partials/js.ejs') %>
